@use './partials/variables.scss' as *;
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Open Sans', sans-serif;
}
header a {
    color: $dc-tertiary;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#content {
    color: $dc-light;
    background-color: $dc-secondary;
}
#buy-links {
    background-color: $dc-primary;
}
#up-footer {
    background-image: url(/images/footer-bg.jpg);
    background-size: cover;
}
h3 {
    font-size: 1.4em;
    color: white;
    font-weight: 600;
}
aside {
    background-color: $dc-tertiary;
}
h4 {
    text-transform: uppercase;
    color: $dc-primary;
    font-weight: 600;
}
h5{
    font-size: 1em;
    padding: 15px 0;
    margin-bottom: 40px;
}
