@use './partials/variables.scss' as *;
@import 'bootstrap/scss/bootstrap';

body {
    font-family: 'Open Sans', sans-serif;
}
header a {
    color: $dc-tertiary;
}
main {
    background-color: $dc-secondary;
}
#content {
    color: $dc-light;
}